<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EjercicioServletJSP</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Controlador</servlet-name>
    <servlet-class>servlet.Controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador</servlet-name>
    <url-pattern>/Controlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Controlador2</servlet-name>
    <servlet-class>servlet.Controlador2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador2</servlet-name>
    <url-pattern>/Controlador2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletPendientes</servlet-name>
    <servlet-class>servlet.servletPendientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletPendientes</servlet-name>
    <url-pattern>/servletPendientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletAprobar</servlet-name>
    <servlet-class>servlet.servletAprobar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletAprobar</servlet-name>
    <url-pattern>/servletAprobar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletAprobadas</servlet-name>
    <servlet-class>servlet.servletAprobadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletAprobadas</servlet-name>
    <url-pattern>/servletAprobadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletRechazar</servlet-name>
    <servlet-class>servlet.servletRechazar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletRechazar</servlet-name>
    <url-pattern>/servletRechazar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletRechazadas</servlet-name>
    <servlet-class>servlet.servletRechazadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletRechazadas</servlet-name>
    <url-pattern>/servletRechazadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletTodas</servlet-name>
    <servlet-class>servlet.servletTodas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletTodas</servlet-name>
    <url-pattern>/servletTodas</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletVerSolicitudes</servlet-name>
    <servlet-class>servlet.servletVerSolicitudes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletVerSolicitudes</servlet-name>
    <url-pattern>/servletVerSolicitudes</url-pattern>
  </servlet-mapping>
</web-app>